* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Big Shoulders Inline Text", cursive; */
  /* font-family: "Big Shoulders Text", cursive; */
  font-family: "Titillium Web", sans-serif;
  color: var(--white);
}

:root {
  --black: rgb(34, 42, 46);
  --blue: rgb(126, 177, 199);
  --red: rgb(197, 48, 48);
  --green: rgb(109, 230, 65);
  --white: rgb(227, 227, 227);
  --gray: rgb(106, 119, 125);
  --dark-gray: rgb(42, 55, 60);
}

body {
  background-color: var(--black);
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}
